.tag-li {
  display: inline-flex !important;
  align-items: center;
}

[class^="gg-icon"] {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2px;
}

[class^="gg-icon"] > svg {
  height: 15px;
  width: 15px;
  stroke: #3d7597;
}

[class^="gg-icon"]::before {
  content: attr(data-descr);
  font-size: 14px;
  border-radius: 5px;
  padding: 2px 5px;

  width: 120px;
  height: 18px;

  background-color: #717171;
  color: #fff;

  display: none;
  position: absolute;
  top: -90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

[class^="gg-icon"]:hover::before {
  display: flex;
  align-items: center;
  justify-content: center;
}
